@import "tailwindcss";

:root {
  --background: rgba(11, 11, 11, 1);
  --primaray: #111111;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--primaray);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}